.App {
  text-align: center;
  font-family: Garamond;
}

.navbar-nav a { color: white;}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar-expand a {
color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav-bar {
  background-color: #EDCB9F;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;}

.Mainhead {
font-size: 30px;
}
.Mainhead h1{
  font-size: 80px;
}

.ButtonHome {
  background-color: #E398B7;
}

.botonTipoPersona{
  font-size: 1.75em;
}

.buttonFormLook {
  font-size: 1.75em;
  background-color: #edcb9f;
  border-radius: 12px;
  padding: 10px;
}

.textAlturaPeso {
  font-size: 1.5em;
}

.Homerecibir{
  background-color: #EDCB9F;
  font-size: 20px;
}
.Homerecibir h2 {
  font-size: 60px;
}

.centertext {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.leaflet-container {
  width: 700px; 
  height: 800px;
}

.coste {
  margin-bottom: 50px;
  margin-top: 50px;
}
h3 {
  font-weight: bold;
}

.coste p {
  font-size: 20px;
}

.nuevoestilo p {
  font-size: 20px;
}